body{
    margin: 0;
    background-color: lightblue !important;
   height: 100vh !important;
    font-size: 12px !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex;
}
main{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    background-color: lightblue;
    

}

.card{
   width: 300px;
    

}
.carda{
    width: 100%;
}
.carda:hover{
    background: rgb(230, 230, 230);
}
.card-img-top{
   
    height: 124px;
    display: flex;
}
.question-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
display: flex;
justify-content: space-between;
padding-top: 4px;
align-items: center;
}

.bg-success, .bg-danger {
    color: white !important; 
}

.width100
{
    width: 100% !important;
}
.textcenter{
    text-align: center !important;
}